ssh:
  # Don't change ssh.user! Because Yandex Cloud user depends on it
  # And Yandex Cloud can create only ubuntu user via terraform
  user: "ubuntu"
  public_key_path: "~/.ssh/yandex/id_rsa.pub"
  private_key_path: "~/.ssh/yandex/id_rsa"

yandex:
  cloud_id: "{{ vault.yandex.cloud_id }}" # Set manually
  folder_id: "{{ vault.yandex.folder_id }}" # Set manually
  user: "{{ ssh.user }}"
  service_account:
    access_key: "{{ vault.yandex.service_account.access_key }}" # Set manually
    secret_key: "{{ vault.yandex.service_account.secret_key }}" # Set manually

postgres:
  password: "{{ vault.postgres.password }}" # Set manually
  database: "hexlet-database"
  user: "hexlet-user"
  port: 6432

terraform:
  dir: "{{ playbook_dir }}/../terraform"
  backend:
    bucket: "hexlet-tf-backend" # Set manually
    key: "hexlet.tfstate" # Set manually
    access_key: "{{ yandex.service_account.access_key }}"
    secret_key: "{{ yandex.service_account.secret_key }}"
  
release_domain: "pochka15.click" # Set manually
