REDMINE_DB_POSTGRES={{ redmine.database.host }}
REDMINE_DB_DATABASE={{ redmine.database.name }}
REDMINE_DB_USERNAME={{ redmine.database.username }}
REDMINE_DB_PASSWORD={{ redmine.database.password }}
REDMINE_DB_PORT={{ redmine.database.port }}
