---
- hosts: localhost
  connection: local
  
  tasks:
    - name: Apply terraform infrastructure
      community.general.terraform:
        project_path: "{{ terraform_dir }}"
        force_init: yes
        variables:
          yandex_cloud_id: "{{ yandex_cloud_id }}"
          yandex_folder_id: "{{ yandex_folder_id }}"
          yandex_user: "{{ yandex_user }}"
          public_ssh_key_path: "{{ public_ssh_key_path }}"
          pg_user: "{{ pg_user }}"
          pg_password: "{{ pg_password }}"
      register: infra

    - name: Generate hosts
      template:
        src: templates/hosts.j2
        dest: inventory.ini

    - name: Generate ssh_config
      template:
        src: templates/ssh_config.j2
        dest: ../ssh_config
